* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    background-color: #24a19c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    width: 90px;
    border-radius: 50%;
}

.name h1 {
    color: white;
    font-size: 40px;
}

.nav-menu ul {
    display: flex;
}

.nav-menu li {
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
}

.nav-menu a:hover {
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
}

/* BANNER */
main {
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20241007/pngtree-restaurant-menu-with-fast-food-images-through-online-banners-social-image_16290915.jpg);
    background-size: cover;
    background-position: center;
}

.banner-container {
    max-width: 400px;
    margin: auto;
    text-align: center;
    padding: 60px 20px;
}

.banner-container h1 {
    background: yellow;
    padding: 10px;
    margin-bottom: 15px;
}

.banner-container p {
    background: green;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
}

.btn {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
}

/* ABOUT */
.about-us {
    text-align: center;
    padding: 30px;
}

.about-us p {
    max-width: 800px;
    margin: auto;
}

/* MENU */
.section-title {
    text-align: center;
    font-size: 32px;
    margin: 20px 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 250px;
    margin: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card-body img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-des {
    background: #a5a4a4;
}

.item-name {
    background: green;
    color: white;
    padding: 10px;
    text-transform: uppercase;
}

.card-des p {
    padding: 8px;
    font-size: 14px;
}

/* CONTACT SECTION */
.contact {
    display: flex;
    gap: 30px;
    background-color: #595b83;
    padding: 30px;
    border-radius: 10px;
}

.contact-map {
    flex: 1;
}

.map {
    width: 100%;
    height: 280px;
    border: 0;
    border-radius: 10px;
}

.contact-details {
    flex: 1;
    color: white;
}

.contact-details h3 {
    margin-bottom: 15px;
}

.contact-details p {
    margin-bottom: 15px;
    line-height: 1.6;
}


/* RESPONSIVE */
@media (max-width:768px) {
    header {
        flex-direction: column;
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;
    }

    .name h1 {
        font-size: 30px;
    }

     .contact {
        flex-direction: column;
    }

    .map {
        height: 220px;
    }
}

